@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$bg-color: #081b29;
$main-color: #00abf0;
$second-bg-color: #112e42;
$text-color: #ededed;

* {
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

// utility styles
h3 {
  span {
    color: $main-color;
  }
}

.btn-box {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  position: relative;
  width: 34.5rem;

  .btn {
    align-items: center;
    background-color: $main-color;
    border-radius: 0.8rem;
    border: 0.2rem solid $main-color;
    color: $bg-color;
    display: inline-flex;
    font-size: 1.8rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    letter-spacing: 0.1rem;
    position: relative;
    width: 15rem;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;

    &:hover {
      color: $main-color;
    }

    &:hover::before {
      width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: $bg-color;
      z-index: -1;
      transition: 0.5s;
    }

    &:nth-child(2) {
      background-color: transparent;
      color: $main-color;
    }

    &:nth-child(2):hover {
      color: $bg-color;
    }

    &:nth-child(2)::before {
      background-color: $main-color;
    }
  }
}

.heading {
  font-size: 5rem;
  margin-bottom: 3rem;
  text-align: center;

  span {
    color: $main-color;
  }
}

// main styles
html {
  font-size: 62.5%;
  overflow-x: hidden;

  body {
    background: $bg-color;
    color: $text-color;

    header {
      align-items: center;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      left: 0;
      padding: 2rem 9%;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
      transition: 0.3s;

      &.sticky {
        background-color: $bg-color;
      }

      #menu-icon {
        color: $text-color;
        cursor: pointer;
        display: none;
        font-size: 3.6rem;
      }

      .logo {
        font-size: 2.5rem;
        color: $text-color;
        font-weight: 600;
      }

      .navbar {
        a {
          color: $text-color;
          font-size: 1.5rem;
          font-weight: 500;
          margin-left: 3.5rem;
          transition: 0.3s;
        }

        a:hover,
        .active {
          color: $main-color;
        }
      }
    }

    main {
      .home {
        align-items: center;
        display: flex;
        min-height: 100vh;
        padding: 0 9%;
        // padding: 10rem 9% 2rem;

        .home-content {
          max-width: 70rem;

          h1 {
            font-size: 4.5rem;
            font-weight: 700;
            line-height: 1.3;
          }

          .text-animate {
            position: relative;
            width: 32.8rem;

            h3 {
              -webkit-background-clip: text;
              -webkit-text-stroke: 0.7px $main-color;
              animation-delay: 2s;
              animation: homeBgText 6s linear infinite;
              background-clip: te;
              background-image: linear-gradient($main-color, $main-color);
              background-position: -33rem 0;
              background-repeat: no-repeat;
              color: transparent;
              font-size: 3.1rem;
              font-weight: 700;

              &::before {
                animation-delay: 2s;
                animation: homeCursorText 6s linear infinite;
                border-right: 2px solid $main-color;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 0;
                z-index: -1;
              }
            }
          }

          p {
            font-size: 1.6rem;
            margin: 2rem 0 4rem;
          }
        }

        .social-media {
          bottom: 4rem;
          display: flex;
          justify-content: space-between;
          position: absolute;
          width: 170px;

          a {
            align-items: center;
            background-color: transparent;
            border-radius: 50%;
            border: 0.2rem solid $main-color;
            color: $main-color;
            display: inline-flex;
            font-size: 20px;
            height: 40px;
            justify-content: center;
            overflow: hidden;
            position: relative;
            transition: 0.5s;
            width: 40px;
            z-index: 1;

            &:hover {
              color: $bg-color;
            }

            &::before {
              background-color: $main-color;
              content: "";
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              transition: 0.5s;
              width: 0;
              z-index: -1;
            }

            &:hover::before {
              width: 100%;
            }
          }
        }
      }

      .about {
        // padding: 0 9%;
        align-items: center;
        background-color: $second-bg-color;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        padding-bottom: 6rem;
        padding: 7rem 9%;

        .about-img {
          align-items: center;
          border-radius: 50%;
          height: 25rem;
          justify-content: center;
          position: relative;
          width: 25rem;

          img {
            // margin: 0 auto;
            border-radius: 50%;
            border: 0.4rem solid $main-color;
            width: 100%;
          }

          .circle-spin {
            animation: aboutSpinner 8s linear infinite;
            border-bottom: 0.4rem solid $second-bg-color;
            border-left: 0.4rem solid $main-color;
            border-radius: 50%;
            border-right: 0.4rem solid $main-color;
            border-top: 0.4rem solid $second-bg-color;
            height: 110%;
            left: 50%;
            position: absolute;
            top: 48%;
            transform: translate(-50%, -50%) rotate(0);
            width: 110%;
          }
        }

        .about-content {
          text-align: center;

          h3 {
            font-size: 2.6rem;
          }

          p {
            font-size: 1.6rem;
            margin: 2rem 0;
          }

          .btns {
            display: inline-block;
            width: 15rem;

            .btn::before {
              background-color: $second-bg-color;
            }
          }
        }
      }

      .education {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: auto;
        padding: 7rem 9%;

        .education-row {
          display: flex;
          flex-wrap: wrap;
          gap: 5rem;

          .education-column {
            flex: 1 1 40rem;

            .title {
              font-size: 2.5rem;
              margin: 0 0 1.5rem 2rem;
            }

            .education-box {
              border-left: 0.2rem solid $main-color;

              .education-content {
                padding-left: 2rem;
                position: relative;

                &::before {
                  background-color: $main-color;
                  border-radius: 50%;
                  content: "";
                  height: 2rem;
                  left: -1.1rem;
                  position: absolute;
                  top: 0;
                  width: 2rem;
                }

                .content {
                  border-radius: 0.6rem;
                  border: 0.2rem solid $main-color;
                  cursor: pointer;
                  margin-bottom: 2rem;
                  overflow: hidden;
                  padding: 1.5rem;
                  position: relative;

                  &::before {
                    background-color: $second-bg-color;
                    content: "";
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition: 0.5s;
                    width: 0;
                    z-index: -1;
                  }

                  &:hover::before {
                    width: 100%;
                  }

                  .year {
                    color: $main-color;
                    font-size: 1.5rem;
                    padding-bottom: 0.5rem;

                    i {
                      padding-right: 0.5rem;
                    }
                  }

                  h3 {
                    font-size: 2rem;
                  }

                  p {
                    font-size: 1.6rem;
                    padding-top: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }

      .skills {
        background-color: $second-bg-color;
        margin-bottom: 7rem;
        min-height: auto;
        padding: 7rem 9%;

        .heading {
          margin-bottom: 6.5rem;
        }

        .skills-row {
          display: flex;
          flex-wrap: wrap;
          gap: 5rem;

          .skills-column {
            flex: 1 1 40rem;

            .title {
              font-size: 2.5rem;
              margin: 0 0 1.5rem;
            }

            .skills-content {
              border-radius: 0.6rem;
              border: 0.2rem solid $main-color;
              cursor: pointer;
              overflow: hidden;
              padding: 0.5rem 1.5rem;
              position: relative;
              z-index: 1;

              &::before {
                background-color: $bg-color;
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                transition: 0.5s;
                width: 0;
                z-index: -1;
              }

              &:hover::before {
                width: 100%;
              }

              .progress {
                padding: 1rem 0;

                h3 {
                  display: flex;
                  font-size: 1.7rem;
                  justify-content: space-between;

                  span {
                    color: $text-color;
                  }
                }

                .bar {
                  border-radius: 0.6rem;
                  border: 0.2rem solid $main-color;
                  height: 2.5rem;
                  margin: 1rem 0;
                  padding: 0.5rem;

                  span {
                    background-color: $main-color;
                    border-radius: 0.3rem;
                    display: block;
                    height: 100%;
                  }
                }
              }
            }

            &:nth-child(1) {
              .progress:nth-child(1) {
                .bar {
                  span {
                    width: 90%;
                  }
                }
              }

              .progress:nth-child(2) {
                .bar {
                  span {
                    width: 80%;
                  }
                }
              }

              .progress:nth-child(3) {
                .bar {
                  span {
                    width: 75%;
                  }
                }
              }

              .progress:nth-child(4) {
                .bar {
                  span {
                    width: 69%;
                  }
                }
              }
            }

            &:nth-child(2) {
              .progress:nth-child(1) {
                .bar {
                  span {
                    width: 95%;
                  }
                }
              }

              .progress:nth-child(2) {
                .bar {
                  span {
                    width: 67%;
                  }
                }
              }

              .progress:nth-child(3) {
                .bar {
                  span {
                    width: 85%;
                  }
                }
              }

              .progress:nth-child(4) {
                .bar {
                  span {
                    width: 55%;
                  }
                }
              }
            }
          }
        }
      }

      .contact {
        min-height: auto;
        padding: 5rem 9%;

        form {
          margin: 0 auto;
          max-width: 70rem;
          text-align: center;

          .input-box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;

            .input-field {
              margin: 0.8rem 0;
              overflow: hidden;
              position: relative;
              width: 49%;

              input {
                background-color: transparent;
                border-radius: 0.6rem;
                border: 0.2rem solid $main-color;
                color: $text-color;
                font-size: 1.6rem;
                height: 100%;
                padding: 1.5rem;
                width: 100%;
                &::placeholder {
                  color: $text-color;
                }
              }

              input:focus ~ .focus,
              input:focus ~ .valid {
                width: 100%;
              }
            }
          }

          .textarea-field {
            display: flex;
            margin: 0.8rem 0 2.7rem;
            position: relative;

            textarea {
              background-color: transparent;
              border-radius: 0.6rem;
              border: 0.2rem solid $main-color;
              color: $text-color;
              font-size: 1.6rem;
              height: 100%;
              padding: 1.5rem;
              resize: none;
              width: 100%;

              &::placeholder {
                color: $text-color;
              }

              &:focus ~ .focus,
              &:valid ~ .focus {
                width: 100%;
              }
            }
          }

          .btn-box {
            width: 100%;
            button {
              cursor: pointer;
              width: 100%;
            }
          }

          .focus {
            background-color: $second-bg-color;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: 0.5s;
            width: 0;
            z-index: -1;
          }
        }
      }
    }

    footer {
      align-items: center;
      background-color: $second-bg-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2rem 9%;

      .footer-text {
        p {
          font-size: 1.6rem;
        }
      }

      .footer-iconTop {
        a {
          align-items: center;
          background-color: $main-color;
          border-radius: 0.4rem;
          border: 0.2rem solid $main-color;
          display: inline-flex;
          justify-content: center;
          overflow: hidden;
          padding: 0.8rem;
          position: relative;
          z-index: 1;

          &::before {
            background-color: $second-bg-color;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            transition: 0.5s;
            width: 0;
            z-index: -1;
          }

          &:hover::before {
            width: 100%;
          }

          &:hover {
            i {
              color: $main-color;
            }
          }

          i {
            color: $bg-color;
            font-size: 2.4rem;
            transition: 0.5s;
          }
        }
      }
    }
  }
}

// breakpoints

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 991px) {
  .header {
    padding: 2rem 4%;
  }

  section {
    padding: 10rem 4% 2rem;
  }

  .home {
    padding: 0 4%;
  }

  .footer {
    padding: 2rem 4%;
  }
}

@media screen and (max-width: 768px) {
  .header {
    background-color: $bg-color;

    .navbar {
      background-color: $bg-color;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      left: -100%;
      padding: 1rem 4%;
      position: absolute;
      top: 100%;
      transition-delay: 0.25s;
      transition: 0.25s ease;
      width: 100%;
      z-index: 1;

      .active-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bg-color;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        z-index: -1;
        transition: 0.25s ease;
        transition-delay: 0s;
      }

      &.active {
        transition-delay: 0s;
        left: 0;

        .active-nav {
          transition-delay: 0.25s;
        }
      }

      &.active {
        a {
          transform: translateX(0);
          transition-delay: 0s;
        }
      }

      a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: 0.25s ease;
        transition-delay: 0s;
      }
    }
  }

  #menu-icon {
    display: block !important;
  }
}

@media screen and (max-width: 530px) {
  .footer {
    flex-direction: column-reverse !important;
    p {
      margin-top: 2rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 50%;

    main {
      .home-content {
        h1 {
          display: flex;
          flex-direction: column;
        }
      }

      .social-media {
        width: 160px !important;

        a {
          width: 38px !important;
          height: 38px !important;
        }
      }
    }

    .footer {
      flex-direction: column-reverse !important;
      p {
        margin-top: 2rem;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 462px) {
  .home-content {
    h1 {
      font-size: 5.2rem !important;
    }
  }

  .education {
    padding: 10rem 4% 5rem 5%;
  }

  .contact {
    form {
      .input-box {
        .input-field {
          width: 100% !important;
        }
      }
    }
  }
}

@media screen and (max-width: 371px) {
  .home {
    justify-content: center !important;
    text-align: center !important;

    .home-content {
      align-items: center !important;
      display: flex !important;
      flex-direction: column !important;
      text-align: center !important;

      h1 {
        font-size: 5rem !important;
      }

      .text-animate {
        width: 100% !important;
      }
    }
  }
}

// keyframes animation
@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -33rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}

@keyframes homeCursorText {
  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 1;
  }
}

@keyframes aboutSpinner {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
