@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$bg-color: #081b29;
$main-color: #00abf0;
$second-bg-color: #112e42;
$text-color: #ededed;

* {
  border: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  body {
    background: $bg-color;
    color: $text-color;

    .header {
      align-items: center;
      background-color: transparent;
      display: flex;
      justify-content: space-between;
      left: 0;
      padding: 2rem 9%;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;

      #menu-icon {
        color: $text-color;
        cursor: pointer;
        display: none;
        font-size: 3.6rem;
      }

      .logo {
        font-size: 2.5rem;
        color: $text-color;
        font-weight: 600;
      }

      .navbar {
        a {
          color: $text-color;
          font-size: 1.5rem;
          font-weight: 500;
          margin-left: 3.5rem;
          transition: 0.3s;
        }

        a:hover,
        .active {
          color: $main-color;
        }
      }
    }
  }
}
